:root {
  --green: #316e40;
  --dark-green: #294e28;
  --strong-green: #1e3d1f;
  --black: #031a09;
  --light-green: #e2f87b;
  --white: #fdfff6;
}

/*@media (max-width: 500px) {
    .welcoming {
       display: none;
    }
}*/

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--green);
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 80%;
  background-color: var(--white);
  position: relative;
  top: 0;
  margin: auto;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  border-radius: 80px;
  overflow: hidden;
  padding: 10px;
}

.logo-img-a {
    height: 100%;
}

.logo-img{
  height: 100%;
  width: auto;
  border-radius: 100%;

}

.welcoming {
  font-size: clamp(0.5em, 3.5vw, 2em);
  color: var(--strong-green);
  margin: auto;
}

.cart-logo-a {
  align-items: end;
  margin-right: 10px;
}

#cart-logo {
  color: var(--strong-green);
  size: 2.5em;
}
